$w-1:10px;
$w-2:20px;
$w-3:30px;
$w-4:40px;
$w-5:50px;
$w-6:60px;
$w-7:70px;
$w-8:80px;
$w-9:90px;
$w-10:100px;
$w-150:150px;
$w-170:170px;
$w-full:100%;

$h-1:10px;
$h-2:20px;
$h-3:30px;
$h-4:40px;
$h-5:50px;
$h-6:60px;
$h-7:70px;
$h-8:80px;
$h-9:90px;
$h-10:100px;
$h-150:150px;
$h-full:100%;